<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .card-body{
      background-color: white;
    }
  </style>
</head>
<body>
<div>
    <div class="card-body " style="width: 18rem;">
      <img src="/assets/img/default/AngkorWat.jpg" class="card-img-top" alt="...">
      <div class="card-body mt-3">
        <h4>ResArtica</h4>
        <p class="card-text">Free posting and sharing any article</p>
      </div>
    </div>
    <ul class="list-group list-group-flush mt-3">
      <button type="button" class="list-group-item list-group-item-action active mt-2 mb-3 me-2" aria-current="true">
        Popular Category
      </button>
      <li class="list-group-item"><a href="/filterpage">Education</a></li>
      <li class="list-group-item">Sport</li>
      <li class="list-group-item">Programming</li>
      <li class="list-group-item">Science</li>
      <li class="list-group-item">Biology</li>
      <li class="list-group-item">Other</li>
    </ul>
</div>
</body>
</html>